<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gcsolution.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gcsolution.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GcSolution</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GcSolution</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EntityDbFirstEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ub6rgmq1fg.database.windows.net,1433;Initial Catalog=GcSolutAkBQRqUgb;User ID=GcSolution@ub6rgmq1fg;Password=Mastek@123" Name="Data Source=tcp:ub6rgmq1fg.database.windows.net,1433;Initial Catalog=GcSolutAkBQRqUgb;User Id=GcSolution@ub6rgmq1fg;Password=Mastek@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=IND-MHP1LW70811;Initial Catalog=EntityDbFirst;User ID=sa;Password=M8$tek12;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EntityDbFirstEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityDbFirst.csdl|res://*/EntityDbFirst.ssdl|res://*/EntityDbFirst.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IND-MHP1LW70811;initial catalog=EntityDbFirst;user id=sa;password=M8$tek12;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntityDbFirstEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/EntityDbFirst.csdl|res://*/EntityDbFirst.ssdl|res://*/EntityDbFirst.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ub6rgmq1fg.database.windows.net,1433;initial catalog=GcSolutAkBQRqUgb;user id=GcSolution@ub6rgmq1fg;password=Mastek@123;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>